regression.*
*.o
*.so
*.bc
*.dylib
venv/
site/
results/*.out
.history
result*
tags
test/expected/event_triggers.out
test/expected/permission_hints.out
*.gcno
*.gcda
coverage.info
coverage_html
test/init.conf
